.userstuff:has(.thread) {
    background-color: #000000;
    margin: 0;
}
.thread {
    background-color: #000000;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Segoe UI','Helvetica Neue',Helvetica,Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans',sans-serif;
}
.thread p {
    margin: 0;
}
.thread .link {
    color: #0f0;
}

.thread .forum-breadcrumbs {
    background-color: #191f2d;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.04);
    border-radius: 4px;
    padding: 4px 10px;
    margin: 10px 0;
    color: #0f0;
}
.thread .forum-link {
    color: #0f0;
}

.thread .forum-link.last {
    font-weight: bold;
}

.thread .thread-title {
    font-size: 1rem;
    font-weight: 400;
    margin-right: Auto;
    color: #ccc;
}

.thread .thread-subtitle {
    font-size: 0.875rem;
    color: #8c8c8c;
}

.thread .message-container {
    box-sizing: border-box;
    background: #191f2d;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.04);
    border-radius: 4px;
    position: relative;
    display: flex;
    margin: 0 0 5px 0;
}

.thread .message {
    background-color: #191f2d;
    box-sizing: border-box;
    display: block;
    flex: 1 1 auto;
    padding: 10px;
    width: 100%;
}

.thread .message-content {
  color: #cccccc;
}
.thread .user-container {
    flex: 0 0 160px;
    max-width: 160px;
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}
.thread .user {
    background-color: #000;
    border: 1px solid #415c87;
    margin: 8px;
}

.thread .avatar {
    padding: 10px;
}
.thread .avatar-img {
    width: 96px;
    height: 96px;
    display: inline-flex;
    border-radius: 4px;
}
.thread .username {
    background-color: #415c87;
    color: #0f0;
    font-weight: bold;
    display: block;
    border-color: #000;
    padding: 5px 10px;
}

.thread .username > * {
    color: #0f0;
    font-weight: bold;
}

.thread .message-header {
    color: #8c8c8c;
    border-bottom: 1px solid #374e72;
    padding: 8px 0px;
    margin-bottom: 8px;
    display: flex;
}
.thread .message-header > * {
    color: #8c8c8c;
}

.thread .timestamp {
    color: #8c8c8c;
}

.thread .message-id {
    margin-left: auto;
    color: #8c8c8c;
}

.thread .page-nav {
    display: block;
    border-radius: 0px;
}

.thread .page-nav-pages {
    display: inline-table;
    padding: 0;
}
.thread .mobile-page-nav {
    display: none;
    margin: 10px 0;
}

.thread .mobile-nav-link {
    display: inline-block;
    border-radius: 4px;
    margin: 0 4px;
}

.thread .page-nav-pages > :first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.thread .page-nav-pages > :last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.thread .nav-link {
    color: #0f0;
    background-color: #191f2d;
    padding: 8px;
    list-style: none;
    display: table-cell;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
}
.thread .nav-link.current-page {
    font-weight: bold;
    color: #ccc;
    background-color: #415c87;
}

.thread .page-nav-next, .page-nav-prev {
    display: inline-block;
    background-color: #191f2d;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
    border-radius: 4px;
    color: #0f0;
}
.thread .page-nav-next p, .page-nav-prev p {
    color: #0f0;
}

.thread blockquote {
    border: 1px solid #374e72;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 10px 5px 10px;
    background-color: #000;
    color: #cccccc;
}

details:open + .thread {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
}
details:open + .thread .user-container {
    flex: auto;
    max-width: 100%;
}
details:open + .thread .user {
    display: flex;
    margin: 0 0 8px 0;
    border: 0;
    border-bottom: 1px solid #415c87;
    padding: 10px;
    font-size: 1em;
}
details:open + .thread .mobile-page-nav {
    display: inline-flex;
}
details:open + .thread .page-nav {
    display: none;
}

details:open + .thread .nav-link.current-page {
    font-weight: normal;
}
details:open + .thread .avatar-img {
    width: 48px;
    height: 48px;
    margin-bottom: .5em;
}
details:open + .thread .avatar {
    background-color: #000;
    position: relative;
    display: block;
    padding: 0px;
}
details:open + .thread .username {
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
    padding: 0 0 0 10px;
}
details:open + .thread .message-container {
    flex-direction: column;
    border-radius: 0px;
    border-left: none;
    border-right: none;
    margin: 0 0 8px 0;
}
details:open + .thread .message {
    padding: 15px;
    padding-top: 0px;
    font-size: 0.875rem;
}
details:open + .thread .nav-link.one {
    display: none;
}
details:open + .thread .message-header {
    font-size: .75rem;
}

.mobile {
    padding: 5px 10px;
    margin: 10px auto;
}
.mobile summary {
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #191f2d;
    color: #cccccc;
    max-width: 1170px;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
}

.mobile ::marker {
    content: "";
}

.mobile summary:hover {
    background-color: #1f2a3d;
}

.mobile summary:after {
    content: "Disabled";
    color: red;
}

.mobile[open] summary:after {
    content: "Enabled";
    color: #0f0;
}
.mobile[open] summary {
    background-color: #415c87;
}


.code-container .hljs-tag {
  color: #0db9d7;
}

.code-container .hljs-attr {
  color: #65bdb1;
}

.code-container .hljs-name {
  color: #bb9af7;
}

.code-container .hljs-string {
  color: #9ece6a;
}

.code-container .hljs-selector-id,
.code-container .hljs-selector-class,
.code-container .hljs-attribute {
  color: #65bdb1;
}

.code-container .hljs-number {
  color: #ff9e64;
}

.code-container {
  background-color: #15161e;
  color: #c0caf5;
}


