body {
    background-color: #000000;
}
.thread {
    background-color: #000000;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

* {
    font-family: 'Segoe UI','Helvetica Neue',Helvetica,Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans',sans-serif;
}
.thread p {
    margin: 0;
}
.link {
    color: #0f0;
}

.forum-breadcrumbs {
    background-color: #191f2d;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.04);
    border-radius: 4px;
    padding: 4px 10px;
    margin: 10px 0;
    color: #0f0;
}
.forum-link {
    color: #0f0;
}

.forum-link.last {
    font-weight: bold;
}

.thread-title {
    font-size: 1rem;
    font-weight: 400;
    margin-right: Auto;
    color: #ccc;
}

.thread-subtitle {
    font-size: 0.875rem;
    color: #8c8c8c;
}

.message-container {
    box-sizing: border-box;
    background: #191f2d;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.04);
    border-radius: 4px;
    position: relative;
    display: flex;
    margin: 0 0 5px 0;
}

.message {
    background-color: #191f2d;
    box-sizing: border-box;
    display: block;
    flex: 1 1 auto;
    padding: 10px;
    width: 100%;
}

.message-content {
  color: #cccccc;
}
.user-container {
    flex: 0 0 160px;
    max-width: 160px;
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}
.user {
    background-color: #000;
    border: 1px solid #415c87;
    margin: 8px;
}

.avatar {
    padding: 10px;
}
.avatar-img {
    width: 96px;
    height: 96px;
    display: inline-flex;
    border-radius: 4px;
    object-fit: cover;
    object-position: top;
}
.username {
    background-color: #415c87;
    color: #0f0;
    font-weight: bold;
    display: block;
    border-color: #000;
    padding: 5px 10px;
}

.username > * {
    color: #0f0;
    font-weight: bold;
}

.message-header {
    color: #8c8c8c;
    border-bottom: 1px solid #374e72;
    padding: 8px 0px;
    margin-bottom: 8px;
    display: flex;
}
.message-header > * {
    color: #8c8c8c;
}

.timestamp {
    color: #8c8c8c;
}

.message-id {
    margin-left: auto;
    color: #8c8c8c;
}

.page-nav {
    display: block;
    border-radius: 0px;
}

.page-nav-pages {
    display: inline-table;
    padding: 0;
}
.mobile-page-nav {
    display: none;
    margin: 10px 0;
}

.mobile-nav-link {
    display: inline-block;
    border-radius: 4px;
    margin: 0 4px;
}

.page-nav-pages > :first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page-nav-pages > :last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-link {
    color: #0f0;
    background-color: #191f2d;
    padding: 8px;
    list-style: none;
    display: table-cell;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
}
.nav-link.current-page {
    font-weight: bold;
    color: #ccc;
    background-color: #415c87;
}

.page-nav-next, .page-nav-prev {
    display: inline-block;
    background-color: #191f2d;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
    border-radius: 4px;
    color: #0f0;
}
.page-nav-next p, .page-nav-prev p {
    color: #0f0;
}

@media (max-width: 650px) {
    body {
        margin: 0;
    }
    .thread {
        padding-left: 0px;
        padding-right: 0px;
    }
    .user-container {
        flex: auto;
        max-width: 100%;
    }
    .user {
        display: flex;
        margin: 0 0 8px 0;
        border: 0;
        border-bottom: 1px solid #415c87;
        padding: 10px;
        font-size: 1em;
    }
    .mobile-page-nav {
        display: inline-flex;
    }
    .page-nav {
        display: none;
    }

    .nav-link.current-page {
        font-weight: normal;
    }
    .avatar-img {
        width: 48px;
        height: 48px;
        margin-bottom: .5em;
    }
    .avatar {
        background-color: #000;
        position: relative;
        display: block;
        padding: 0px;
    }
    .username {
        display: block;
        width: 100%;
        text-align: left;
        background-color: transparent;
        padding: 0 0 0 10px;
    }
    .message-container {
        flex-direction: column;
        border-radius: 0px;
        border-left: none;
        border-right: none;
        margin: 0 0 8px 0;
    }
    .message {
        padding: 15px;
        padding-top: 0px;
        font-size: 0.875rem;
    }
    .nav-link.one {
        display: none;
    }
    .message-header {
        font-size: .75rem;
    }
}

.hljs-tag {
    color: #0db9d7;
}
.hljs-attr {
    color: #65bdb1;
}
.hljs-name {
    color: #bb9af7;
}
.hljs-string {
    color: #9ece6a;
}
.hljs-selector-id, .hljs-selector-class, .hljs-attribute {
    color: #65bdb1;
}
.hljs-number {
    color: #ff9e64;
}

.code-container {
    background-color: #15161e;
    color: #c0caf5;
}
