body {
    background-color: #000000;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: max(10px, env(safe-area-inset-left));
    padding-right: max(10px, env(safe-area-inset-right));
}

* {
    color: #cccccc;
    font-family: 'Segoe UI','Helvetica Neue',Helvetica,Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans',sans-serif;
}
.link {
    color: #0f0;
}

.forum-breadcrumbs {
    background-color: #191f2d;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.04);
    border-radius: 4px;
    padding: 4px 10px;
    margin: 10px 0;
}
.forum-link {
    color: #0f0;
}

.forum-link.last {
    font-weight: bold;
}

.thread-title {
    font-size: 1rem;
    font-weight: 400;
    margin-right: Auto;
}

.thread-subtitle {
    font-size: 0.875rem;
    color: #8c8c8c;
}

.message-container {
    box-sizing: border-box;
    background: #191f2d;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.04);
    border-radius: 4px;
    position: relative;
    display: flex;
    margin: 0 0 5px 0;
}

.message {
    background-color: #191f2d;
    box-sizing: border-box;
    display: block;
    flex: 1 1 auto;
    padding: 10px;
    width: 100%;
}
.user-container {
    flex: 0 0 160px;
    max-width: 160px;
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}
.user {
    background-color: #000;
    border: 1px solid #415c87;
    margin: 8px;
}

.avatar {
    padding: 10px;
}
.avatar-img {
    width: 96px;
    height: 96px;
    display: inline-flex;
    border-radius: 4px;
    object-fit: cover;
    object-position: top;
}
.username {
    background-color: #415c87;
    color: #0f0;
    font-weight: bold;
    display: block;
    border-color: #000;
    padding: 5px 10px;
}

.message-header {
    color: #8c8c8c;
    border-bottom: 1px solid #374e72;
    padding: 8px 0px;
    margin-bottom: 8px;
    display: flex;
}

.timestamp {
    color: #8c8c8c;
}

.message-id {
    margin-left: auto;
}

.message-footer {
    border-top: 1px solid #374e72;
    padding: 8px 0px;
    margin-top: 8px;
    display: flex;
}
.page-nav {
    display: block;
}

.page-nav-pages {
    display: inline-table;
    padding: 0;
}

.page-nav-pages > :first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page-nav-pages > :last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-link {
    color: #0f0;
    background-color: #191f2d;
    padding: 8px;
    list-style: none;
    display: table-cell;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
}
.nav-link.current {
    font-weight: bold;
    color: #ccc;
    background-color: #415c87;
}

.page-nav-next, .page-nav-prev {
    display: inline-block;
    color: #0f0;
    background-color: #191f2d;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-top-color: #374e72;
    border-right-color: #415c87;
    border-bottom-color: #496898;
    border-left-color: #415c87;
    border-radius: 4px;
}
